# Frozen R20 NPBC v3 validation template
# Requires cavity/meanfield/v3 and cavity/reflect/com in custom LAMMPS.

log water_npbc_R20_v3_frozen.log
units metal
atom_style molecular
atom_modify map yes
newton on
dimension 3
boundary f f f

variable model_file       string "__MODEL_FILE__"
variable vdwparm_file     string "__VDWPARM_FILE__"
variable gaufile_u0       string "__U0_FILE__"
variable gaufile_u1       string "__U1_FILE__"
variable gaufile_u2       string "__U2_FILE__"

variable gauout_file      string "./gau_R20_v3_frozen.out"
variable p1out_file       string "./p1_R20_v3_frozen.out"
variable p2out_file       string "./p2_R20_v3_frozen.out"
variable densfile_out     string "./dens_shells_R20_v3_frozen.dat"
variable traj_out         string "./traj_R20_v3_frozen.dump"

variable R                equal 20.0
variable rho0             equal 0.037242
variable dr               equal 0.25
variable nl               equal 81
variable vdw_scale        equal 0.0005
variable T                equal 300.0
variable dt               equal 0.001
variable tdamp            equal 0.1
variable run_steps        index 1000000

read_restart __RESTART_IN__
timestep ${dt}
reset_timestep 0

pair_style mliap unified ${model_file} 0
pair_coeff * * O H

group water type 1 2
group mobile union water
compute com_w mobile com
variable rcom_w equal sqrt(c_com_w[1]^2+c_com_w[2]^2+c_com_w[3]^2)

fix wall mobile cavity/reflect/com sphere 0 0 0 ${R} 0
fix nvt_all mobile nvt temp ${T} ${T} ${tdamp}
fix rmom all momentum 10 linear 1 1 1

fix mf mobile cavity/meanfield/v3 sphere 0 0 0 ${R} ${rho0} ${dr} ${nl} &
        vdwparm ${vdwparm_file} &
        gauout ${gauout_file} &
        vdw_scale ${vdw_scale} &
        opt no &
        gaufile ${gaufile_u0} &
        p1 yes &
        p1_otype 1 &
        p1_htype 2 &
        p1_rmin 17.0 &
        p1_scale ${vdw_scale} &
        p1file ${gaufile_u1} &
        p1out ${p1out_file} &
        p1_ghost copy &
        p2 yes &
        p2_otype 1 &
        p2_htype 2 &
        p2_rmin 17.0 &
        p2_scale ${vdw_scale} &
        p2file ${gaufile_u2} &
        p2out ${p2out_file} &
        p2_ghost copy &
        dens yes &
        dens_every 1000 &
        densfile ${densfile_out} &
        vdw_exclude_last_groups 1 &
        vdw_zero_excluded no

thermo_style custom step time temp v_rcom_w f_mf pe ke etotal press f_wall f_wall[1] f_wall[2]
thermo 500
thermo_modify flush yes

dump dprod mobile custom 5000 ${traj_out} id mol type x y z
dump_modify dprod sort id append no
restart 100000 restart_R20_v3_frozen_*.lammps

run ${run_steps}
write_restart ./restart_R20_v3_frozen_final.lammps
write_data ./water_R20_v3_frozen_final.data
